Let's have a look at the data from PI's 2019 gas bills. These can be found in the [Gas Bills folder](https://app.skiff.org/folder/da3cb50e-1434-4f96-b668-a0ce10c447fb) on Skiff.

In [24]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [23]:
data = {
    "month": ["January", "February", "March", "April", "May", "June", "July", "August", "Septebmer", "October", "November", "December"],
    "volume [mÂ³]": [34925.565, 43653.058, 41489.116, 23167.301, 17464.341, 9887.417, 5441.041, 5054.401, 6756.869, 8817.918, 15771.228, 31018.618]
}
df = pd.DataFrame(data)
df

  basis vector  occurences in data
0          0 0                 225
1          0 1                 211
2          1 0                 214
3          1 1                 250