Let's have a look at the data from PI's 2019 gas bills. These can be found in the [Gas Bills folder](https://app.skiff.org/folder/da3cb50e-1434-4f96-b668-a0ce10c447fb) on Skiff.

In [24]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [23]:
import pandas as pd
import pprint as pp
data = {
    "basis vector": ["0 0", "0 1", "1 0", "1 1"],
    "occurences in data": [c1, c2, c3, c4]
}
df = pd.DataFrame(data)
df

  basis vector  occurences in data
0          0 0                 225
1          0 1                 211
2          1 0                 214
3          1 1                 250